apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo
  labels:
    app.kubernetes.io/name: echo
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: echo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: echo
    spec:
      nodeSelector:
        maglev-backend: "true"
      containers:
        - name: echo
          image: kicbase/echo-server:1.0
          ports:
            - containerPort: 8080

